.profile-title{
  color: #dd0077;
  border-bottom: 5px solid #dd0077;
  margin-bottom: 2%;
}

.profile-picture{
  max-height: 300px;
  max-width: 300px;
  border-radius: 5px 100px 5px;
  border-style: solid;
  border-width: 10px;
  border-color: #dd0077;
}

.profile-table{
  font-size: 28px;
  border-collapse:separate;
  border-spacing:30px 15px;
  margin-bottom: 5%;
}

.profile-btn-container{
  background-color: #dd0077;
  width: 150px;
  padding-left: 1%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.profile-update-btn{
  font-size: 24px;
  width: 100%;
  height: 30px;
  color: white;
  text-align: center;
  left: 50%;
  /* border-radius: 20px; */
  background-color: #dd0077;
}

.profile-submit-btn{
  color: white;
  border: none;
  background-color: #dd0077;
  text-decoration: none;
  font-size: 24px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.profile-success-message{
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 2%;
  color: white;
  background-color: #207c29;
}

.submit-button{
  background-color:#dd0077;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:10px;
  padding-bottom: 10px;
  border:none;
  border-radius: 10px;
}

.button-container{
  margin-left:2%;
}

.straight-line{
  border-top-style: solid;
  border-top-color: grey;
  border-top-width: 2px;
  margin-top:0px;
  margin-bottom:5%;
}
