.form-card{
    margin-top: 1%;
    border-top-color: grey;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-color: grey;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    /* border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    -webkit-box-shadow: -1px 1px 16px 1px rgba(0,0,0,0.57);
    -moz-box-shadow: -1px 1px 16px 1px rgba(0,0,0,0.57);
    box-shadow: -1px 1px 16px 1px rgba(0,0,0,0.57); */
}

.add-unit-table{
    border-collapse:separate;
    border-spacing:30px 15px;
}

.submit-button{
    background-color:#dd0077;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:5px;
    padding-bottom: 5px;
    border:none;
}

.add-error-message{
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 2%;
    color: white;
    background-color: #ff1d1d;
  }
  
.add-success-message{
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 2%;
    color: white;
    background-color: #207c29;
}