body{
  margin: 0;
  padding: 0;
  background-image: url("/picture/loginbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  /* background-position: center; */
}

@media only screen and (min-width: 961px){
  .loginbox{
    width: 320px;
    height: 420px;
    background: #dd0077;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 10%;
    padding: 70px 30px;
  }

  .message{
    display: flex;
    background: #cf0d0d;
    color: #fff;
    top: 15%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 10px;
  }

  .message ul{
    margin: 0px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px){
  .loginbox{
    width: 320px;
    height: 420px;
    background: #dd0077;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 10%;
    padding: 70px 30px;
  }

  .message{
    display: flex;
    background: #cf0d0d;
    color: #fff;
    top: 10%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 10px;
  }

  .message ul{
    margin: 0px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 400px){
  .loginbox{
    width: 320px;
    height: 420px;
    background: #dd0077;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 10%;
    padding: 70px 30px;
  }

  .message{
    display: flex;
    background: #cf0d0d;
    color: #fff;
    top: 10%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 10px;
  }

  .message ul{
    margin: 0px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  border-style: dashed;
  border-color: white;
  border-width: medium;
}

h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input{
  width: 100%;
  margin-bottom: 30px;
}

.loginbox input[type="text"], input[type="password"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.loginbox input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  background: #000;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
  cursor: pointer;
  background: #c8b400;
  color: #fff;
}
