.submit-button{
    background-color:#dd0077;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:10px;
    padding-bottom: 10px;
    border:none;
    border-radius: 10px;
}

.select-block{
    border-top-color: grey;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-color: grey;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-bottom: 70px;
    padding-top:10px;
    padding-bottom: 10px;
}

.display{
    width: 100% !important;
}